div(style="position:absolute; bottom: -1%; left: 0%; width: 100%; pointer-events: none")
    img(class="corner_piece" src="/assets/images/gd_corner.png", width="7%")

div(style="position:absolute; top: 0%; left: 0%; width: 100%; pointer-events: none")
    img(class="corner_piece" src="/assets/images/gd_corner.png", width="7%", style="transform: scaleY(-1)")