doctype html
html(lang="")
    head
        // Data
        title= `Geometry Dash Browser: Rewritten v${require(`${__dirname}/package.json`).version}`
        link(rel="icon", href="/assets/images/user_coin.png")

        // Meta Tags
        meta(property="og:title", content="Geometry Dash Browser: Rewritten")
        meta(property="og:description", content="Browse all of Geometry Dash's online features, right from this handy little website! Levels, profiles, leaderboards, comments, and more!")
        meta(property="og:url", content="https://http://gdb.memi.moe/")
        meta(property="og:image", content="/assets/images/user_coin.png")
        meta(property="theme-color", content="#e8e8e8")

        // Loaders
        include loaders/css

        // Scripts
        include loaders/js

    body(class="level_bg")
        div(class="content")
            block content