/* Tags */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    background: #000;
}

img, .noSelect {
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Logo */
.home_header {
    position: relative;
    height: 65%;
    left: -4.2%;
}

.gdb_sublogo {
    margin: 0.5% 0% 0% 15%;
    filter: hue-rotate(170deg) saturate(131%);
}

/* Content & BG */
.level_bg {
    background-image: linear-gradient(#0065FD, #002E73);
    height: 100vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100%;
    height: 100%;
}

.popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}