// Main CSS
link(href="/assets/css/base.css", type="text/css", rel="stylesheet")
link(href="/assets/css/margin.css", type="text/css", rel="stylesheet")

// GD-Based CSS
link(href="/assets/css/geometry_dash.css", type="text/css", rel="stylesheet")

// Fonts
link(href="/assets/css/fonts.css", type="text/css", rel="stylesheet")